.cardContainer {
    display: flex;
    width: 700px;
    justify-content: center;
    flex-wrap: wrap
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: solid 1px red;
    padding: 10px;
    text-align: center;
    width: 300px;
    word-wrap: break-word;
    border-radius: 20px;
    margin: 5px;
    min-height: 75px;
}